<nav> 
<a href="#"><%=image_tag 'avatar1.jpg', :class => "avatar" %></a>
<a href="https://twitter.com/?lang=fr"><%=image_tag 'twitter_logo.png', :class => "twitter" %></a> 
</nav>
<h1>Tu l'aimes mon bouton?</h1>
<div class="button">
  <a href="https://www.youtube.com/watch?v=LhJ7R2asi0Y" class="btn">bouton</a>
</div>

<h1>Et ma carte?</h1>

<div class= "center">
	<div class="card">
    		<%=image_tag 'avatar1.jpg', :class => "image-card" %>
    		<a href="#" class="card-name">Alex Etienne</a>
    		<a href="https://twitter.com/?lang=fr"><%=image_tag 'twitter_logo-mini.png', :class => "card-twitter" %></a>

  </div>
</div>
</br></br></br>

<a href="/profile" class="btn">La page profile</a>
  

