<nav> 
<a href="#"><%=image_tag 'avatar2.jpg', :class => "avatar" %></a>
<a href="https://twitter.com/?lang=fr"><%=image_tag 'twitter_logo.png', :class => "twitter" %></a> 
</nav>

<h1>Et ce bouton la?</h1>
<div class="button">
  <a href="https://www.youtube.com/watch?v=LhJ7R2asi0Y" class="btn">2ème bouton</a>
</div>

<h1>Et cette carte?</h1>

<div class= "center">
	<div class="card">
    		<%=image_tag 'avatar2.jpg', :class => "image-card" %>
    		<a href="#" class="card-name">Brieuc Jamain</a>
    		<a href="https://twitter.com/?lang=fr"><%=image_tag 'twitter_logo-mini.png', :class => "card-twitter" %></a>

  </div>
</div>