.button{
	margin-top: 25px;
}
.btn{
  background-color: blue;
  padding: .75em 1.5em;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

.btn:hover{
  
  box-shadow: 5px 5px blue;
  transition-duration: 1s;
}

